<div class="page-header">
  <%= link_to orders_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <legend>Please Complete Your Imformation</legend>
</div>

<%= render 'form' %>
