
  

<div class="container-cart modal-fade">
  <legend>Show Cart</legend>
  
	     <table class="table table-striped table-hover ">


    <thead >
      <tr class="text-danger" >
            <th>Title</th>
            <th>Quantity</th>
            <th>UnitePrice</th>       
      </tr>
    </thead>

    <tbody>

      
     
      <%= render (cart.line_items)%>
     
    
          
           <th><%= link_to "Check Out", new_order_path , :class=>' float-right', method: :get %><br></th>
          <th class="text-right ">Total:</th>
          <th class="text-purple"><%= number_to_currency(@cart.total)%></th>
          
         

    </tbody>
    
  </table>

  <%= link_to "Empty Cart", @cart, :class=>' float-right', method: :delete, :confirm => "Are you sure ?" %><br>


</div>

</div>